@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  overflow: hidden;
}

.background span {
  z-index: -1;
  width: 5vmin;
  height: 5vmin;
  border-radius: 5vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 10;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}